//ts-canvas-sign
.ts-canvas-sign {
  margin-top: 10px;

  #sign-canvas {
    height: 300px;
    width: 98%;
    //position: relative;
    border-radius: 10px;
    margin: 0 auto;

    canvas {
      background-color: #fff;
      border: 1px dashed #ccc;
      border-radius: 10px;
    }
  }

  .user-op {
    padding-top: 12px;
    text-align: center;
    overflow: hidden;

    .btn {
      display: inline-block;
      margin: 0 12px;
      border: 1px #DEDEDE solid;
      color: #ffffff;
      background-color: #FF9800;
      width: 120px;
      padding: 6px 12px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
