.go-top{
  position: fixed;
  bottom: 1.5rem;
  right: .1rem;
  z-index: 9999;
  background: url("~assets/images/common_img/go_top.png");
  width: 1rem;
  height: 1rem;
  background-size:1rem 1rem ;
  display: inline-block;
}
