//vue-sync-model
.vue-sync-model {
  .test-popup {
    margin: 50px;
    p {
      margin-bottom: 12px;
      input {
        border: 1px solid #ffdfce;
        color: #FF5500;
        padding: .12rem .34rem;
        background-color: #fff;
        border-radius: 3px;
      }
    }

  }
}
