
//===字体设置===
html {
  font-size: 312.5%;
  color: #333;
}
@media screen and (max-width: 359px) {
  html {
    font-size: 266.67%;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 300%;
  }
}

@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 320%;
  }
}

@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 333.33%;
  }
}

@media screen and (min-width: 414px) and (max-width: 431px) {
  html {
    font-size: 345%;
  }
}

@media screen and (min-width: 432px) and (max-width: 479px) {
  html {
    font-size: 360%;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  html {
    font-size: 400%;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 533.33%;
  }
}

//===字体===
$FONT-YAHEI: '\5fae\8f6f\96c5\9ed1';
$FONT-SONGTI: '\5B8B\4F53';
$MAIN-COLOR:#FF6300;//主色调
$MAIN-TEXT-COLOR:#333;//主文字色调
$GTNERAL-TEXT-COLOR:#999;//主文字色调

